.nyuryoku {
  display: grid;
  height: 50vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
}
.nyuryoku .title {
  grid-column: 2 / -2;
  grid-row: 1;
  text-align: center;
  border: 5px solid #f5a70f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
}

.nyuryoku .largebackground {
  grid-column: 2 / -2;
  grid-row: 2 / span 4;
  background: rgba(230, 230, 230, 0.92);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  gap: 24px;
}

.largebackground .category {
  grid-column: 2 / span 10;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.category .bigcategoryframe {
  grid-column: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.bigcategoryframe .bigcategoryselector {
  grid-column: 1 / 13;
}

.category .subcategoryframe {
  grid-column: 8 / span 4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.subcategoryframe .subcategoryselector {
  grid-column: 1 / 13;
}

.largebackground .expense-and-date-frame {
  grid-column: 2 / span 10;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.expense-and-date-frame .expense {
  grid-column: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.expense .money {
  grid-column: 1 / span 11;
}

.expense .yen {
  grid-column: 12;
}

.expense-and-date-frame .dateframe {
  grid-column: 8 / span 4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.dateframe .date {
  grid-column: 1 / 13;
}

.largebackground .text-area-frame {
  grid-column: 3 / -3;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.text-area-frame .textarea {
  grid-column: 1/-1;
}

.largebackground .button-frame {
  grid-column: 6 / span 2;
  grid-row: 5;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.button-frame .button {
  grid-column: 1/-1;
  grid-row: 6;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  background: #70e049;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: transparent;
}
